$blue: #335191;
$white: #ffffff;
$red: #ff0039;
$darkash: #525862;
$lightash: #9fafb5;
$tealish: #5d6c76;
$lightteal: #9fafb5;
$dark: #212428;

#confirm-status-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;

  .heading {
    margin-bottom: 1.5rem;
  }

  form {
    width: 60%;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin-top: 40px;
      width: 100%;

      h4 {
        margin: 0;
        border-bottom: 2px solid $blue;
        padding: 0.3rem 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-size: 11px;
        font-family: gothambook;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        .btn_primary {
          margin-left: 1rem;
          background-color: #0dd40d;
        }
      }

      .slider {
        flex-grow: 1;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 15px;

        div.ant-slider-rail {
          height: 1px;
        }

        div.ant-slider-track {
          background-color: $white;
          height: 1px;
        }

        div.ant-slider-handle {
          border-color: $white;
          background-color: #1a1b1f;
          position: relative;
          top: -1px;
        }

        p:first-child {
          margin: 0 1rem 0 0;
          color: $white;
        }

        p:last-child {
          margin: 0 0 0 1rem;
          color: $white;
        }

        .ant-slider {
          flex-grow: 1;
        }
      }

      .input {
        width: 100%;

        textarea {
          width: 100%;
          font-size: 14px;
          background-color: #212428;
          border-color: #212428;
          color: $white;
          border-radius: 4px;
          padding: 0.5rem 1rem;
          display: flex;
          align-items: center;
          margin-bottom: 0.3rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media (max-width: 600px) {
    form {
      width: 100%;
    }
  }

  .footer {
    display: flex;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    button {
      width: fit-content !important;
      padding: 0.4rem 3rem;
    }
  }
}
